body {
    background: #ffffff;
}

.img-style {
    width: 400px;
    height: 220px;
}

@media only screen and (max-width: 500px) {
    .img-style {
        width: 300px;
        height: 170px;
    }
}

@media only screen and (max-width: 330px) {
    .img-style {
        width: 200px;
        height: 120px;
    }
}

.img-icon {
    width: 265px;
    height: 265px;
    margin: 60px auto 0;
}

.s_ver_center_ {
    margin: 60px auto 0;
}

.full_screen {
    height: 100vh;
}

.btn-outline-primary {
    --bs-btn-color: #0d6efd;
    --bs-btn-border-color: #0d6efd;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0d6efd;
    --bs-btn-hover-border-color: #0d6efd;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0d6efd;
    --bs-btn-active-border-color: #0d6efd;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #0d6efd;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #0d6efd;
    --bs-gradient: none;
    border-radius: 15px;
}

svg.rot {
    animation: 1s linear 0s normal none infinite running rot;
    -webkit-animation: 10s linear 0s normal none infinite running rot;
}

@keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ml-5 {
    margin-left: 5px;
}

.image_w_80 {
    width: 80%;
}

.image_w_60 {
    width: 60%;
}